<settings>
    <setting id="skinshortcuts-widget-tvrecordings" type="bool">true</setting>
    <setting id="WidgetEpisodePoster" type="bool">false</setting>
    <setting id="Hide_Unwatched_Marks" type="bool">true</setting>
    <setting id="TVShows.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="Hide.Favourites" type="bool">false</setting>
    <setting id="FullscreenMusic" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="StopPlaybackOnMenu" type="bool">false</setting>
    <setting id="skinshortcuts-widget-videoaddons" type="bool">true</setting>
    <setting id="skinshortcuts-background-Addons.Art" type="bool">true</setting>
    <setting id="StartupDelay0" type="bool">false</setting>
    <setting id="Hide.RecentlyAdded" type="bool">false</setting>
    <setting id="PVRChannelListBig" type="bool">false</setting>
    <setting id="DisableFanartPictures" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="skinshortcuts-background-Quit.Art" type="bool">true</setting>
    <setting id="VerticalHome" type="bool">false</setting>
    <setting id="Overlay.Color.White" type="bool">false</setting>
    <setting id="skinshortcuts-background-Concerts.Art" type="bool">true</setting>
    <setting id="DisableWidgetLimit" type="bool">true</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Quit" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedmusicvideos" type="bool">true</setting>
    <setting id="Overlay.Color.Custom" type="bool">false</setting>
    <setting id="EnableClearLogo" type="bool">false</setting>
    <setting id="StartupDelay2" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="Hide_Watched_Marks" type="bool">true</setting>
    <setting id="Highlighted.Color.Custom" type="bool">false</setting>
    <setting id="EnableStudioArt" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Timer" type="bool">false</setting>
    <setting id="skinshortcuts-background-Pictures.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Music.Art" type="bool">true</setting>
    <setting id="EnableExtraFanart" type="bool">false</setting>
    <setting id="StartupDelay3" type="bool">false</setting>
    <setting id="Fixed_HomeMenu" type="bool">false</setting>
    <setting id="skinshortcuts-background-Search.Art" type="bool">true</setting>
    <setting id="DisableFanart" type="bool">false</setting>
    <setting id="DisablePauseIconOSD" type="bool">false</setting>
    <setting id="skinshortcuts-background-Weather.Art" type="bool">true</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="skinshortcuts-background-Videos.Art" type="bool">true</setting>
    <setting id="Home_DefaultBG" type="bool">false</setting>
    <setting id="StartupDelay10" type="bool">false</setting>
    <setting id="skinshortcuts-background-Radio.Art" type="bool">true</setting>
    <setting id="StartupDelay5" type="bool">false</setting>
    <setting id="skinshortcuts-background-TVShows.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-recentlyplayedalbums" type="bool">true</setting>
    <setting id="ManualScroll" type="bool">false</setting>
    <setting id="FixedShortListUnknown" type="bool">true</setting>
    <setting id="Default.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="DisableSlidingAnimations" type="bool">false</setting>
    <setting id="KenBurnsEffect" type="bool">false</setting>
    <setting id="skinshortcuts-background-Movies.Art" type="bool">true</setting>
    <setting id="plexbmc" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Reboot_Android" type="bool">false</setting>
    <setting id="skinshortcuts-widget-radiorecordings" type="bool">true</setting>
    <setting id="skinshortcuts-background-Tv.Art" type="bool">true</setting>
    <setting id="Music.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="MusicVideos.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="skinshortcuts-background-Clips.Art" type="bool">true</setting>
    <setting id="DisableOSDInfoOnPause" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Reboot" type="bool">false</setting>
    <setting id="MusicPlayingFanart" type="bool">false</setting>
    <setting id="Highlighted.Color.White" type="bool">false</setting>
    <setting id="Use_Artist_Slideshow" type="bool">false</setting>
    <setting id="skinshortcuts-background-Settings.Art" type="bool">true</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="skinshortcuts-background-Favourites.Art" type="bool">true</setting>
    <setting id="EnableCdArt" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">true</setting>
    <setting id="StartupDelay1" type="bool">false</setting>
    <setting id="BlackGlassMode" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedmovies" type="bool">true</setting>
    <setting id="Show_Player" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="startup-playlist" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="Videos.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="ScrollOffsetLabelEnabled" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedepisodes" type="bool">true</setting>
    <setting id="QuitMenu_Hide_Shutdown" type="bool">false</setting>
    <setting id="Pictures.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="EnableKioskMode" type="bool">false</setting>
    <setting id="EnableClearArt" type="bool">false</setting>
    <setting id="skinshortcuts-background-DVD.Art" type="bool">true</setting>
    <setting id="WindowClosingIcon" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Sleep" type="bool">false</setting>
    <setting id="Movies.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="DisableDefaultSplash" type="bool">false</setting>
    <setting id="PVR_Enabled" type="bool">false</setting>
    <setting id="startup-multiimagepath" type="string"></setting>
    <setting id="Videos.Background" type="string"></setting>
    <setting id="LyricPath" type="string"></setting>
    <setting id="Clips.Background" type="string"></setting>
    <setting id="StartupWindow" type="string"></setting>
    <setting id="Search.Background" type="string"></setting>
    <setting id="weatherIconPath" type="string"></setting>
    <setting id="TVShows.Background" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string">9</setting>
    <setting id="skinshortcuts-widget-7" type="string">Addon</setting>
    <setting id="startup-videoplaylistpath" type="string"></setting>
    <setting id="Addons.Background" type="string"></setting>
    <setting id="weatherArtPath" type="string"></setting>
    <setting id="startup-imagepath" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">tvrecordings</setting>
    <setting id="startup-musicplaylistpath" type="string"></setting>
    <setting id="Quit.Background" type="string"></setting>
    <setting id="skinshortcuts-widget-8" type="string">videoaddons</setting>
    <setting id="LabelArt.name" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="Tv.Background" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">recommendedmusicvideos</setting>
    <setting id="Weather.Background" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="PickedColor.Highlight" type="string"></setting>
    <setting id="Music.Background" type="string"></setting>
    <setting id="CustomStartup.Label" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">recommendedmovies</setting>
    <setting id="DVD.Background" type="string"></setting>
    <setting id="WeatherFanartArt.name" type="string"></setting>
    <setting id="StudioArt.name" type="string"></setting>
    <setting id="WeatherIconArt.name" type="string"></setting>
    <setting id="StudioArt.path" type="string"></setting>
    <setting id="CustomStartup.Path" type="string"></setting>
    <setting id="Radio.Background" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="Pictures.Background" type="string"></setting>
    <setting id="Movies.Background" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">recommendedmusicvideos</setting>
    <setting id="Concerts.Background" type="string"></setting>
    <setting id="PickedColor.Overlay" type="string"></setting>
    <setting id="WeatherType" type="string"></setting>
    <setting id="WeatherFanartArt.path" type="string"></setting>
    <setting id="StartupWindowOption" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">recommendedepisodes</setting>
    <setting id="Favourites.Background" type="string"></setting>
    <setting id="startup-screentype" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">radiorecordings</setting>
    <setting id="Default.Background" type="string"></setting>
    <setting id="startup-videopath" type="string"></setting>
    <setting id="Settings.Background" type="string"></setting>
    <setting id="startup-playlisttype" type="string"></setting>
</settings>
