<settings>
    <setting id="action_type" value="0" />
    <setting id="audio_only" value="false" />
    <setting id="auto_play" value="true" />
    <setting id="cache_period" value="4" />
    <setting id="changelog_lang" value="0" />
    <setting id="debug" value="false" />
    <setting id="dm_resolve" value="1" />
    <setting id="episodes_reverse" value="true" />
    <setting id="geoloc_override" value="0" />
    <setting id="hide_cartoons" value="true" />
    <setting id="lang_split" value="0" />
    <setting id="live_group" value="ALL" />
    <setting id="live_group_switcher" value="0" />
    <setting id="live_local" value="" />
    <setting id="live_remote" value="" />
    <setting id="live_tv_mode" value="0" />
    <setting id="local_remote" value="2" />
    <setting id="m3u8_quality_picker" value="0" />
    <setting id="misc_local" value="" />
    <setting id="misc_remote" value="" />
    <setting id="ol_resolve" value="0" />
    <setting id="old_settings" value="false" />
    <setting id="papers_group" value="0" />
    <setting id="preresolve_streams" value="false" />
    <setting id="randomize_items" value="true" />
    <setting id="randomize_m3u" value="true" />
    <setting id="reset-idx" value="true" />
    <setting id="reset_live" value="true" />
    <setting id="show_alt" value="false" />
    <setting id="show_bookmarks" value="true" />
    <setting id="show_docs" value="true" />
    <setting id="show_kids" value="true" />
    <setting id="show_live" value="true" />
    <setting id="show_live_switcher" value="true" />
    <setting id="show_misc" value="true" />
    <setting id="show_movies" value="true" />
    <setting id="show_music" value="true" />
    <setting id="show_networks" value="true" />
    <setting id="show_news" value="true" />
    <setting id="show_pic_switcher" value="true" />
    <setting id="show_pvr" value="false" />
    <setting id="show_quit" value="false" />
    <setting id="show_radio" value="true" />
    <setting id="show_search" value="true" />
    <setting id="show_series" value="true" />
    <setting id="show_settings" value="true" />
    <setting id="show_short_films" value="true" />
    <setting id="show_shows" value="true" />
    <setting id="show_sports" value="true" />
    <setting id="show_theater" value="true" />
    <setting id="sl_quality_picker" value="0" />
    <setting id="theme" value="0" />
    <setting id="toggler" value="false" />
    <setting id="top50_local" value="" />
    <setting id="top50_remote" value="" />
    <setting id="ustream_resolve" value="1" />
    <setting id="vod_group" value="30213" />
    <setting id="wrap_labels" value="1" />
    <setting id="yt_quality_picker" value="0" />
    <setting id="yt_resolve" value="0" />
</settings>
