<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label='Local Time Zone'>
		setting id="zoneInfo" type="select" label="Set Time Zone" values="US/Eastern|US/Central|US/Pacific|Canada/Eastern|Canada/Central|Canada/Pacific|Europe/London|Europe/Paris|UTC" default="US/Eastern" visible="True" />
		<setting id="zoneInfo" type="select" label="Set Time Zone" values="US/Eastern|US/Central|US/Pacific|Europe/London|Europe/Paris|UTC" default="US/Eastern" visible="True" />
	</category>
	<category label='General'>
		<setting label='DeBug Mode' type='lsep'/>
		<setting id='debug' type='bool' label='Enable' default='false'/>
		<setting type='sep'/>
	</category>
</settings>