<settings>
    <setting id="CurrentLocation" value="true" />
    <setting id="Language" value="0" />
    <setting id="Location1" value="Serrai" />
    <setting id="Location1ID" value="3620" />
    <setting id="Location2" value="" />
    <setting id="Location2ID" value="" />
    <setting id="Location3" value="" />
    <setting id="Location3ID" value="" />
    <setting id="Location4" value="" />
    <setting id="Location4ID" value="" />
    <setting id="Location5" value="" />
    <setting id="Location5ID" value="" />
    <setting id="PrecipUnit" value="0" />
    <setting id="PresUnit" value="2" />
    <setting id="TimeZone" value="0" />
    <setting id="Weekend" value="0" />
</settings>
