<settings>
    <setting id="Hide.Movies.Shelf.InProgress" type="bool">false</setting>
    <setting id="Quit.Hide" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="CustomHome2.5.Movies" type="bool">false</setting>
    <setting id="Sub_DefaultBG" type="bool">false</setting>
    <setting id="DVD.Hide" type="bool">true</setting>
    <setting id="Hide.Music.Shelf.RandomAlbums" type="bool">false</setting>
    <setting id="CustomHome2.2.Albums" type="bool">false</setting>
    <setting id="TVShowEntry.Playlists" type="bool">false</setting>
    <setting id="Hide.TVShow.Shelf.InProgress" type="bool">false</setting>
    <setting id="53_SmallIcons" type="bool">false</setting>
    <setting id="FullscreenMusic" type="bool">false</setting>
    <setting id="CustomHome2.6.Movies" type="bool">false</setting>
    <setting id="MovieEntry.Library" type="bool">false</setting>
    <setting id="CustomHome2.8.Albums" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Settings" type="bool">false</setting>
    <setting id="CustomHome2.1.Albums" type="bool">false</setting>
    <setting id="CustomHome2.1.Movies" type="bool">false</setting>
    <setting id="OSDInfo" type="bool">false</setting>
    <setting id="hide.plexbmc.2.title" type="bool">false</setting>
    <setting id="56_Music_Gallery" type="bool">false</setting>
    <setting id="Hide.RecentlyAdded" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="hide.plexbmc.12.title" type="bool">false</setting>
    <setting id="CustomHome2.3.TVShows" type="bool">false</setting>
    <setting id="hide.plexbmc.9.title" type="bool">false</setting>
    <setting id="Videos.Hide" type="bool">true</setting>
    <setting id="Hide.TV.Widget.NowRecording" type="bool">false</setting>
    <setting id="Shelf.Addons.Programs" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">true</setting>
    <setting id="hide.plexbmc.11.title" type="bool">false</setting>
    <setting id="EpisodeRating.Hide" type="bool">false</setting>
    <setting id="53_Images_SmallIcons" type="bool">false</setting>
    <setting id="Hide_InProgress_Marks" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Sleep" type="bool">false</setting>
    <setting id="53_Addons_SmallIcons" type="bool">false</setting>
    <setting id="Hide.TVShow.Shelf.Unwatched" type="bool">false</setting>
    <setting id="Hide.TV.Shelf" type="bool">true</setting>
    <setting id="Hide.TV.Shelf.Channels" type="bool">false</setting>
    <setting id="Hide.MusicVideos.Shelf.Random" type="bool">false</setting>
    <setting id="56_Episodes_Gallery" type="bool">false</setting>
    <setting id="MovieEntry.RecentlyAdded" type="bool">false</setting>
    <setting id="Hide_Watched_Marks" type="bool">false</setting>
    <setting id="TVEntry.Guide" type="bool">false</setting>
    <setting id="55_Addons_SmallIcons" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Reboot" type="bool">false</setting>
    <setting id="Queue.Hide" type="bool">false</setting>
    <setting id="Hide.MediaFlagsVideo" type="bool">false</setting>
    <setting id="Use_Artist_Slideshow" type="bool">false</setting>
    <setting id="Hide.Music.Shelf.RandomArtists" type="bool">false</setting>
    <setting id="Shelf.Addons" type="bool">false</setting>
    <setting id="Hide.TVShow.Shelf.InProgressShows" type="bool">false</setting>
    <setting id="Hide.TVShow.Shelf.Random" type="bool">false</setting>
    <setting id="CustomHome2.8.Movies" type="bool">false</setting>
    <setting id="53_Seasons_SmallIcons" type="bool">false</setting>
    <setting id="Pictures.Hide" type="bool">true</setting>
    <setting id="TVShows.Hide" type="bool">true</setting>
    <setting id="Hide.MusicVideos.Shelf" type="bool">true</setting>
    <setting id="Channels.Hide" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="MovieEntry.Files" type="bool">false</setting>
    <setting id="MusicEntry.Albums" type="bool">false</setting>
    <setting id="Show_Player" type="bool">false</setting>
    <setting id="hide.plexbmc.5.title" type="bool">false</setting>
    <setting id="CustomHome2.9.Songs" type="bool">false</setting>
    <setting id="51_Addons_SmallIcons" type="bool">false</setting>
    <setting id="Hide.Music.Shelf.RecentlyAddedAlbums" type="bool">false</setting>
    <setting id="55_Seasons_SmallIcons" type="bool">false</setting>
    <setting id="TVShowEntry.RecentlyAdded" type="bool">false</setting>
    <setting id="51_SmallIcons" type="bool">false</setting>
    <setting id="Hide.Favourites" type="bool">false</setting>
    <setting id="51_UseBanners" type="bool">false</setting>
    <setting id="Shelf.Favourites" type="bool">false</setting>
    <setting id="hide.plexbmc.14.title" type="bool">false</setting>
    <setting id="Hide.Weather.Shelf.Daily" type="bool">false</setting>
    <setting id="51_Images_SmallIcons" type="bool">false</setting>
    <setting id="hide.plexbmc.13.title" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Quit" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="CustomHome2.1.Songs" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="Weather8DayForecast" type="bool">true</setting>
    <setting id="MusicEntry.Genres" type="bool">false</setting>
    <setting id="hide.plexbmc.7.title" type="bool">false</setting>
    <setting id="Hide.WeatherTitleBar" type="bool">true</setting>
    <setting id="Hide.Radio.Widget.NowRecording" type="bool">false</setting>
    <setting id="EpisodesUsePoster" type="bool">false</setting>
    <setting id="CustomHome2.6.Albums" type="bool">false</setting>
    <setting id="Shelf.Addons.Music" type="bool">false</setting>
    <setting id="MusicPlayingFanart" type="bool">true</setting>
    <setting id="CustomHome2.3.Movies" type="bool">false</setting>
    <setting id="55_Movies_SmallIcons" type="bool">false</setting>
    <setting id="56_Posters_Info" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Shutdown" type="bool">false</setting>
    <setting id="Shelf.Addons.Pictures" type="bool">false</setting>
    <setting id="Sub_FanArtBG" type="bool">true</setting>
    <setting id="CustomHome2.8.Episodes" type="bool">false</setting>
    <setting id="TVEntry.Recordings" type="bool">false</setting>
    <setting id="Home_FanArtBG" type="bool">true</setting>
    <setting id="CustomHome2.4.Episodes" type="bool">false</setting>
    <setting id="hide.plexbmc.19.title" type="bool">false</setting>
    <setting id="Shelf.Addons.Favourites" type="bool">false</setting>
    <setting id="CustomHome2.5.Episodes" type="bool">false</setting>
    <setting id="Home_DefaultBG" type="bool">false</setting>
    <setting id="CustomHome2.6.TVShows" type="bool">false</setting>
    <setting id="CustomHome2.2.TVShows" type="bool">false</setting>
    <setting id="CustomHome2.6.Songs" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="CustomHome2.7.Movies" type="bool">false</setting>
    <setting id="hide.plexbmc.4.title" type="bool">false</setting>
    <setting id="CustomHome2.9.Episodes" type="bool">false</setting>
    <setting id="Hide.Music.Shelf.MostPlayedAlbums" type="bool">false</setting>
    <setting id="hide.plexbmc.3.title" type="bool">false</setting>
    <setting id="Hide.TVShow.Shelf.RecentlyAdded" type="bool">false</setting>
    <setting id="56_Episodes_Info" type="bool">false</setting>
    <setting id="CustomHome2.7.Albums" type="bool">false</setting>
    <setting id="RadioEntry.Recordings" type="bool">false</setting>
    <setting id="Hide.LibraryUpdate.Button" type="bool">true</setting>
    <setting id="Hide.Weather.Shelf.Hourly" type="bool">false</setting>
    <setting id="CustomHome2.2.Songs" type="bool">false</setting>
    <setting id="Hide.Movies.Shelf" type="bool">true</setting>
    <setting id="Enable.SkinShortcuts" type="bool">false</setting>
    <setting id="Radio.Hide" type="bool">true</setting>
    <setting id="plexbmc" type="bool">false</setting>
    <setting id="hide.iconsview" type="bool">false</setting>
    <setting id="CustomHome2.5.TVShows" type="bool">false</setting>
    <setting id="Use_Jarvis_Shelves" type="bool">false</setting>
    <setting id="hide.plexbmc.0.title" type="bool">false</setting>
    <setting id="CustomHome2.9.Movies" type="bool">false</setting>
    <setting id="53_UseBanners" type="bool">false</setting>
    <setting id="Pvr.Hide" type="bool">true</setting>
    <setting id="Hide_Unwatched_Marks" type="bool">false</setting>
    <setting id="Hide.Radio.Shelf" type="bool">true</setting>
    <setting id="TVShowEntry.Library" type="bool">false</setting>
    <setting id="Movies.Hide" type="bool">true</setting>
    <setting id="Shelf.Addons.Videos" type="bool">false</setting>
    <setting id="TVShowEntry.Files" type="bool">false</setting>
    <setting id="CustomHome2.5.Albums" type="bool">false</setting>
    <setting id="Enable.GlobalSearch" type="bool">false</setting>
    <setting id="hide.fanartview" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="Hide.Movies.Shelf.RecentlyAdded" type="bool">false</setting>
    <setting id="Hide.Pictures.Shelf" type="bool">true</setting>
    <setting id="CustomHome2.2.Movies" type="bool">false</setting>
    <setting id="CustomHome2.3.Albums" type="bool">false</setting>
    <setting id="56_Posters_Gallery" type="bool">false</setting>
    <setting id="CustomHome2.4.Songs" type="bool">false</setting>
    <setting id="55_Images_SmallIcons" type="bool">false</setting>
    <setting id="ShowMasterLockTitle" type="bool">false</setting>
    <setting id="Addons.Hide" type="bool">true</setting>
    <setting id="SettingsLocation.Home" type="bool">false</setting>
    <setting id="CustomHome2.7.TVShows" type="bool">false</setting>
    <setting id="CustomHome2.3.Songs" type="bool">false</setting>
    <setting id="51_Movies_SmallIcons" type="bool">false</setting>
    <setting id="53_TvShows_SmallIcons" type="bool">false</setting>
    <setting id="hide.plexbmc.8.title" type="bool">false</setting>
    <setting id="CustomHome2.2.Episodes" type="bool">false</setting>
    <setting id="Hide.Videos.Shelf" type="bool">true</setting>
    <setting id="CustomHome2.8.TVShows" type="bool">false</setting>
    <setting id="hide.lowlistview" type="bool">false</setting>
    <setting id="CustomHome2.7.Episodes" type="bool">false</setting>
    <setting id="VerticalHome" type="bool">false</setting>
    <setting id="CustomHome2.5.Songs" type="bool">false</setting>
    <setting id="Hide.MusicVideos.Shelf.RecentlyAdded" type="bool">false</setting>
    <setting id="MovieEntry.Playlists" type="bool">false</setting>
    <setting id="Music.Hide" type="bool">true</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="holiday" type="bool">false</setting>
    <setting id="hide.plexbmc.16.title" type="bool">false</setting>
    <setting id="Hide.Radio.Widget.NextRecording" type="bool">false</setting>
    <setting id="53_Movies_SmallIcons" type="bool">false</setting>
    <setting id="hide.plexbmc.17.title" type="bool">false</setting>
    <setting id="CustomHome2.3.Episodes" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="Hide.TV.Widget.NextRecording" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="Hide.Music.Shelf" type="bool">true</setting>
    <setting id="CustomHome2.8.Songs" type="bool">false</setting>
    <setting id="Hide.TopBar.Sub" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">true</setting>
    <setting id="CustomHome2.4.Movies" type="bool">false</setting>
    <setting id="Hide.RecordingTitleBar" type="bool">true</setting>
    <setting id="55_Music_SmallIcons" type="bool">false</setting>
    <setting id="Enable.NextUpNotifications" type="bool">false</setting>
    <setting id="_SmallIcons" type="bool">false</setting>
    <setting id="SettingsLocation.Quit" type="bool">true</setting>
    <setting id="CustomHome2.7.Songs" type="bool">false</setting>
    <setting id="TV.Hide" type="bool">false</setting>
    <setting id="MusicEntry.RecentlyAdded" type="bool">false</setting>
    <setting id="MusicEntry.Playlists" type="bool">false</setting>
    <setting id="Shelf.DoubleHeight" type="bool">false</setting>
    <setting id="53_Music_SmallIcons" type="bool">false</setting>
    <setting id="Favourites.Hide" type="bool">true</setting>
    <setting id="RadioEntry.Guide" type="bool">false</setting>
    <setting id="hide.plexbmc.1.title" type="bool">false</setting>
    <setting id="55_UseBanners" type="bool">false</setting>
    <setting id="Hide.TVShow.Shelf" type="bool">true</setting>
    <setting id="MusicVideos.Hide" type="bool">true</setting>
    <setting id="hide.bigpanelview" type="bool">false</setting>
    <setting id="Hide.Weather.Shelf" type="bool">true</setting>
    <setting id="Hide.TV.Shelf.Recordings" type="bool">false</setting>
    <setting id="Hide.MusicVideos.Shelf.Unwatched" type="bool">false</setting>
    <setting id="56_Music_Info" type="bool">false</setting>
    <setting id="Hide.Music.Shelf.MostPlayedSongs" type="bool">false</setting>
    <setting id="hide.listview" type="bool">false</setting>
    <setting id="Hide.Radio.Shelf.Recordings" type="bool">false</setting>
    <setting id="StaticVerticalHome" type="bool">false</setting>
    <setting id="hide.plexbmc.15.title" type="bool">false</setting>
    <setting id="Weather.Hide" type="bool">false</setting>
    <setting id="51_Seasons_SmallIcons" type="bool">false</setting>
    <setting id="CustomHome2.6.Episodes" type="bool">false</setting>
    <setting id="TVShowEntry.Genres" type="bool">false</setting>
    <setting id="CustomHome2.1.TVShows" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="55_TvShows_SmallIcons" type="bool">false</setting>
    <setting id="hide.plexbmc.18.title" type="bool">false</setting>
    <setting id="CustomHome2.4.TVShows" type="bool">false</setting>
    <setting id="hide.panelview" type="bool">false</setting>
    <setting id="SettingsLocation.All" type="bool">false</setting>
    <setting id="CustomHome2.9.Albums" type="bool">false</setting>
    <setting id="51_TvShows_SmallIcons" type="bool">false</setting>
    <setting id="Show_Library_Count" type="bool">false</setting>
    <setting id="Hide.Movies.Shelf.Random" type="bool">false</setting>
    <setting id="MovieEntry.Genres" type="bool">false</setting>
    <setting id="51_Music_SmallIcons" type="bool">false</setting>
    <setting id="hide.biglistview" type="bool">false</setting>
    <setting id="MusicEntry.Files" type="bool">false</setting>
    <setting id="CustomHome2.1.Episodes" type="bool">false</setting>
    <setting id="Hide.Radio.Shelf.Channels" type="bool">false</setting>
    <setting id="hide.plexbmc.10.title" type="bool">false</setting>
    <setting id="55_Episodes_SmallIcons" type="bool">false</setting>
    <setting id="CustomHome2.9.TVShows" type="bool">false</setting>
    <setting id="55_SmallIcons" type="bool">false</setting>
    <setting id="CustomHome2.4.Albums" type="bool">false</setting>
    <setting id="53_Episodes_SmallIcons" type="bool">false</setting>
    <setting id="hide.plexbmc.6.title" type="bool">false</setting>
    <setting id="51_Episodes_SmallIcons" type="bool">false</setting>
    <setting id="CustomHome2.9.Label" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="studiosResource.name" type="string">Studio Icons - White</setting>
    <setting id="CustomHome.7.Background" type="string">/storage/.kodi/addons/Thumbs/earth.jpg</setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="CustomHome.1.List" type="string">plugin://plugin.video.youtube/</setting>
    <setting id="CustomHome.7.Label" type="string">IPTV</setting>
    <setting id="CustomHome.1.Background" type="string">/storage/.kodi/addons/plugin.video.youtube/fanart.jpg</setting>
    <setting id="CustomHome2.7.List" type="string"></setting>
    <setting id="musicgenreiconsResource.path" type="string"></setting>
    <setting id="CustomHome.2.Label" type="string">Ταινιες</setting>
    <setting id="CustomHome2.6.Background" type="string"></setting>
    <setting id="CustomHome2.8.Background" type="string"></setting>
    <setting id="CustomHome.2.Background" type="string">/storage/.kodi/addons/Thumbs/movies2.jpg</setting>
    <setting id="CustomHome2.4.Background" type="string"></setting>
    <setting id="CustomHome2.2.Background" type="string"></setting>
    <setting id="CustomHome2.1.Background" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="CustomHome.2.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.exodusredux/&quot;,return)</setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="ShelfAddons.7.Label" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="Pvr.Background" type="string"></setting>
    <setting id="CustomHome.6.Path" type="string"></setting>
    <setting id="CustomHome2.2.Label" type="string"></setting>
    <setting id="CustomHome2.4.Path" type="string"></setting>
    <setting id="CustomHome.6.Label" type="string"></setting>
    <setting id="moviegenreiconsResource.name" type="string"></setting>
    <setting id="CustomHome.4.Label" type="string">Live Αγωνες</setting>
    <setting id="Music.Background" type="string"></setting>
    <setting id="TVShows.Background" type="string"></setting>
    <setting id="CustomHome2.5.Path" type="string"></setting>
    <setting id="MusicVideos.Background" type="string"></setting>
    <setting id="CustomHome.5.Background" type="string">/storage/.kodi/addons/Thumbs/SportsChannels.jpg</setting>
    <setting id="CustomHome.9.Background" type="string">/storage/.kodi/addons/Thumbs/porn.jpg</setting>
    <setting id="WeatherIconsResource.path" type="string">resource://resource.images.weathericons.outline/</setting>
    <setting id="CustomHome.8.Path" type="string"></setting>
    <setting id="CustomHome2.9.Background" type="string"></setting>
    <setting id="CustomHome.7.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.MaverickTV/?description=No%20information%20available&amp;fanart=https%3a%2f%2fi.imgur.com%2fIGcg7tE.jpg&amp;iconimage=https%3a%2f%2fi.imgur.com%2fhzBz7Wk.jpg&amp;mode=SwiftMain&amp;name=%5bCOLOR%20FFffffffff%5d%5bCOLOR%20lime%5d%5bB%5dSwift%20TV%20All%5b%2fB%5d%5b%2fCOLOR%5d%5b%2fCOLOR%5d&amp;url=allthespice&quot;,return)</setting>
    <setting id="Weather.Background" type="string">/storage/.kodi/addons/Thumbs/weather.jpg</setting>
    <setting id="ShelfAddons.5.Label" type="string"></setting>
    <setting id="recordlabelsResource.path" type="string"></setting>
    <setting id="CustomHome2.3.Label" type="string"></setting>
    <setting id="CustomHome2.4.List" type="string"></setting>
    <setting id="CustomHome.3.Background" type="string">/storage/.kodi/addons/Thumbs/greece.jpg</setting>
    <setting id="Videos.Background" type="string">/storage/.kodi/addons/Thumbs/video.jpg</setting>
    <setting id="weathericonsResource.name" type="string">Weather Icons - Outline</setting>
    <setting id="CustomHome2.2.List" type="string"></setting>
    <setting id="CustomHome2.8.List" type="string"></setting>
    <setting id="CustomHome2.6.Path" type="string"></setting>
    <setting id="Movies.Background" type="string"></setting>
    <setting id="Addons.Background" type="string"></setting>
    <setting id="CustomHome.3.Label" type="string">Greek Tv</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="ShelfAddons.6.Label" type="string"></setting>
    <setting id="CustomHome2.1.List" type="string"></setting>
    <setting id="CustomHome2.3.Background" type="string"></setting>
    <setting id="ShelfAddons.3.Label" type="string"></setting>
    <setting id="CustomHome.4.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.quantum.sport/?ex_link&amp;foldername=QUANTUM%20LIVE&amp;mode=site2&amp;params=%7b%27_service%27%3a%20%27sport365%27%2c%20%27_act%27%3a%20%27ListChannels%27%7d&quot;,return)</setting>
    <setting id="CustomHome2.8.Label" type="string"></setting>
    <setting id="CustomHome.4.Background" type="string">/storage/.kodi/addons/Thumbs/livesports.jpg</setting>
    <setting id="CustomHome2.1.Path" type="string"></setting>
    <setting id="CustomHome.6.Background" type="string">/storage/.kodi/addons/Thumbs/porn.jpg</setting>
    <setting id="DVD.Background" type="string"></setting>
    <setting id="CustomHome2.5.List" type="string"></setting>
    <setting id="CustomHome.1.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.youtube/&quot;,return)</setting>
    <setting id="CustomHome.9.Label" type="string">18+</setting>
    <setting id="CustomHome2.8.Path" type="string"></setting>
    <setting id="ShelfAddons.9.Label" type="string"></setting>
    <setting id="CustomHome2.1.Label" type="string"></setting>
    <setting id="CustomHome2.2.Path" type="string"></setting>
    <setting id="ShelfAddons.2.Label" type="string"></setting>
    <setting id="ShelfAddons.4.Label" type="string"></setting>
    <setting id="ShelfAddons.1.Label" type="string"></setting>
    <setting id="Quit.Background" type="string">/storage/.kodi/addons/Thumbs/shutdown.jpg</setting>
    <setting id="studiosResource.path" type="string">resource://resource.images.studios.white/</setting>
    <setting id="CustomHome.8.Label" type="string"></setting>
    <setting id="CustomHome2.6.Label" type="string"></setting>
    <setting id="CustomHome2.7.Background" type="string"></setting>
    <setting id="CustomHome.5.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.MaverickTV/?description=No%20information%20available&amp;fanart=https%3a%2f%2fi.imgur.com%2fEWFZ5ir.jpg&amp;iconimage=https%3a%2f%2fi.imgur.com%2fhzBz7Wk.jpg&amp;mode=SwiftCat&amp;name=%5bCOLOR%20FFffffffff%5d%5bCOLOR%20lime%5d%5bB%5dSwift-TV%20Live%20Sports%5b%2fB%5d%5b%2fCOLOR%5d%5b%2fCOLOR%5d&amp;url=swiftcategory%2f36&quot;,return)</setting>
    <setting id="CustomHome.5.Label" type="string">Αθλητικα Καναλια</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="LyricPath" type="string"></setting>
    <setting id="CustomHome.8.Background" type="string"></setting>
    <setting id="CustomHome2.7.Path" type="string"></setting>
    <setting id="CustomHome.9.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.pantyraiders/?description&amp;extra&amp;fanart=%2fstorage%2f.kodi%2faddons%2fplugin.video.pantyraiders%2ffanart.jpg&amp;iconimage=https%3a%2f%2fi.imgur.com%2fcZ0oEj2.jpg&amp;mode=762&amp;name=Pornstars&amp;url=https%3a%2f%2fwww.eporner.com%2fpornstars%2f&quot;,return)</setting>
    <setting id="Settings.Background" type="string">/storage/.kodi/addons/Thumbs/shutdown.jpg</setting>
    <setting id="moviegenreiconsResource.path" type="string"></setting>
    <setting id="CustomHome2.6.List" type="string"></setting>
    <setting id="CustomHome2.9.Path" type="string"></setting>
    <setting id="CustomHome.1.Label" type="string">YouTube</setting>
    <setting id="Favourites.Background" type="string"></setting>
    <setting id="Default.Background" type="string">/storage/.kodi/addons/Thumbs/default.png</setting>
    <setting id="ShelfAddons.8.Label" type="string"></setting>
    <setting id="musicgenreiconsResource.name" type="string"></setting>
    <setting id="CustomHome2.3.List" type="string"></setting>
    <setting id="Pictures.Background" type="string"></setting>
    <setting id="recordlabelsResource.name" type="string"></setting>
    <setting id="ShelfAddons.10.Label" type="string"></setting>
    <setting id="CustomHome2.5.Background" type="string"></setting>
    <setting id="shutdown" type="string"></setting>
    <setting id="CustomHome.3.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.MaverickTV/?description=No%20information%20available&amp;fanart=%2fstorage%2f.kodi%2faddons%2fplugin.video.MaverickTV%2ffanart.jpg&amp;iconimage=http%3a%2f%2fswiftstreamz.com%2fSwiftLive%2fimages%2fthumbs%2f98282_greece.jpg&amp;mode=SwiftCat&amp;name=%5bCOLOR%20FFffffffff%5dGREEK%20TV%5b%2fCOLOR%5d&amp;url=swiftcategory%2f63&quot;,return)</setting>
    <setting id="CustomHome2.3.Path" type="string"></setting>
    <setting id="CustomHome2.7.Label" type="string"></setting>
    <setting id="Radio.Background" type="string"></setting>
    <setting id="CustomHome2.9.List" type="string"></setting>
    <setting id="CustomHome2.4.Label" type="string"></setting>
    <setting id="CustomHome2.5.Label" type="string"></setting>
    <setting id="CustomHome.1.Icon" type="string">/storage/.kodi/addons/plugin.video.youtube/icon.png</setting>
    <setting id="CustomHome.2.List" type="string">plugin://plugin.video.exodusredux/</setting>
    <setting id="CustomHome.2.Icon" type="string">/storage/.kodi/addons/plugin.video.exodusredux/icon.png</setting>
    <setting id="CustomHome.3.List" type="string">plugin://plugin.video.MaverickTV/?description=No%20information%20available&amp;fanart=%2fstorage%2f.kodi%2faddons%2fplugin.video.MaverickTV%2ffanart.jpg&amp;iconimage=http%3a%2f%2fswiftstreamz.com%2fSwiftLive%2fimages%2fthumbs%2f98282_greece.jpg&amp;mode=SwiftCat&amp;name=%5bCOLOR%20FFffffffff%5dGREEK%20TV%5b%2fCOLOR%5d&amp;url=swiftcategory%2f63</setting>
    <setting id="CustomHome.3.Icon" type="string">http://swiftstreamz.com/SwiftLive/images/thumbs/98282_greece.jpg</setting>
    <setting id="CustomHome.4.List" type="string">plugin://plugin.video.quantum.sport/?ex_link&amp;foldername=QUANTUM%20LIVE&amp;mode=site2&amp;params=%7b%27_service%27%3a%20%27sport365%27%2c%20%27_act%27%3a%20%27ListChannels%27%7d</setting>
    <setting id="CustomHome.4.Icon" type="string">/storage/.kodi/addons/plugin.video.quantum.sport/resources/sport365.png</setting>
    <setting id="CustomHome.5.List" type="string">plugin://plugin.video.MaverickTV/?description=No%20information%20available&amp;fanart=https%3a%2f%2fi.imgur.com%2fEWFZ5ir.jpg&amp;iconimage=https%3a%2f%2fi.imgur.com%2fhzBz7Wk.jpg&amp;mode=SwiftCat&amp;name=%5bCOLOR%20FFffffffff%5d%5bCOLOR%20lime%5d%5bB%5dSwift-TV%20Live%20Sports%5b%2fB%5d%5b%2fCOLOR%5d%5b%2fCOLOR%5d&amp;url=swiftcategory%2f36</setting>
    <setting id="CustomHome.5.Icon" type="string">https://i.imgur.com/hzBz7Wk.jpg</setting>
    <setting id="CustomHome.6.List" type="string"></setting>
    <setting id="CustomHome.6.Icon" type="string"></setting>
    <setting id="CustomHome.7.List" type="string">plugin://plugin.video.MaverickTV/?description=No%20information%20available&amp;fanart=https%3a%2f%2fi.imgur.com%2fIGcg7tE.jpg&amp;iconimage=https%3a%2f%2fi.imgur.com%2fhzBz7Wk.jpg&amp;mode=SwiftMain&amp;name=%5bCOLOR%20FFffffffff%5d%5bCOLOR%20lime%5d%5bB%5dSwift%20TV%20All%5b%2fB%5d%5b%2fCOLOR%5d%5b%2fCOLOR%5d&amp;url=allthespice</setting>
    <setting id="CustomHome.7.Icon" type="string">https://i.imgur.com/hzBz7Wk.jpg</setting>
    <setting id="weathericonsResource.ext" type="string">.png</setting>
    <setting id="studiosResource.ext" type="string">.png</setting>
    <setting id="CustomHome.9.List" type="string">plugin://plugin.video.pantyraiders/?description&amp;extra&amp;fanart=%2fstorage%2f.kodi%2faddons%2fplugin.video.pantyraiders%2ffanart.jpg&amp;iconimage=https%3a%2f%2fi.imgur.com%2fcZ0oEj2.jpg&amp;mode=762&amp;name=Pornstars&amp;url=https%3a%2f%2fwww.eporner.com%2fpornstars%2f</setting>
    <setting id="CustomHome.9.Icon" type="string">https://i.imgur.com/cZ0oEj2.jpg</setting>
</settings>
