<settings>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="Enable.ShiftVidFanart" type="bool">false</setting>
    <setting id="Disable.FanartView" type="bool">false</setting>
    <setting id="Enable.ThumbnailLandscape" type="bool">false</setting>
    <setting id="InfoWall.Banners" type="bool">false</setting>
    <setting id="Enable.SettingsPanelView" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="Enable.PanelLogo" type="bool">false</setting>
    <setting id="Enable.IconLogo" type="bool">false</setting>
    <setting id="Enable.WallLandscape" type="bool">false</setting>
    <setting id="Enable.MediaFlags" type="bool">false</setting>
    <setting id="Disable.AutoComplete" type="bool">true</setting>
    <setting id="Disable.ShiftView" type="bool">false</setting>
    <setting id="Enable.WallLogo" type="bool">false</setting>
    <setting id="Enable.FanartLandscape" type="bool">false</setting>
    <setting id="Enable.UnwatchedOverlay" type="bool">false</setting>
    <setting id="Enable.ShiftPlot" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="Enable.CombineMenus" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVideo" type="bool">false</setting>
    <setting id="Disable.IconView" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVis" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="Disable.NextAired" type="bool">true</setting>
    <setting id="Enable.WallBanner" type="bool">false</setting>
    <setting id="Enable.ShiftLandscape" type="bool">false</setting>
    <setting id="Disable.ResumableOverlay" type="bool">false</setting>
    <setting id="Enable.Landscape.Art" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="Enable.PanelFanart" type="bool">false</setting>
    <setting id="Disable.PanelView" type="bool">false</setting>
    <setting id="Enable.BigListLogo" type="bool">false</setting>
    <setting id="Enable.IconLandscape" type="bool">false</setting>
    <setting id="Enable.Extra.Fanart" type="bool">false</setting>
    <setting id="Disable.BigListView" type="bool">false</setting>
    <setting id="Enable.IconBanner" type="bool">false</setting>
    <setting id="PictureInfo.Disabled" type="bool">false</setting>
    <setting id="Disable.InfoWallView" type="bool">false</setting>
    <setting id="KioskMode.Enabled" type="bool">false</setting>
    <setting id="skinshortcuts-widget-settings" type="bool">true</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="Enable.BigListThumb" type="bool">false</setting>
    <setting id="Enable.FanartFanart" type="bool">false</setting>
    <setting id="Enable.ShiftFanart" type="bool">false</setting>
    <setting id="Disable.Quicknav" type="bool">false</setting>
    <setting id="VideoInfoPlotToggle" type="bool">false</setting>
    <setting id="Enable.FanartLogo" type="bool">false</setting>
    <setting id="Disable.Fanart" type="bool">false</setting>
    <setting id="Disable.LowListView" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">false</setting>
    <setting id="Disable.SongView" type="bool">false</setting>
    <setting id="Enable.2ColumnList" type="bool">false</setting>
    <setting id="Enable.BigListFanart" type="bool">false</setting>
    <setting id="Disable.ThumbnailView" type="bool">false</setting>
    <setting id="Disable.MainQuicknav" type="bool">false</setting>
    <setting id="Skin.ToggleDebug" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="Enable.ShiftDescription" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="Disable.WatchedOverlay" type="bool">false</setting>
    <setting id="Disable.WidgetLimit" type="bool">true</setting>
    <setting id="Disable.LowPanelView" type="bool">false</setting>
    <setting id="Enable.BigListPoster" type="bool">false</setting>
    <setting id="InfoWall.Logo" type="bool">false</setting>
    <setting id="Disable.GalleryView" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="Disable.AutoScroll" type="bool">false</setting>
    <setting id="Enable.ThumbnailLogo" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="Disable.EpisodeView" type="bool">false</setting>
    <setting id="Enable.SlimList" type="bool">false</setting>
    <setting id="Disable.WallView" type="bool">false</setting>
    <setting id="weatherfanart.multi" type="bool">false</setting>
    <setting id="Enable.ThumbnailFanart" type="bool">false</setting>
    <setting id="Enable.WideList" type="bool">false</setting>
    <setting id="Enable.HorizontalMenu" type="bool">true</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="CustomOverlay" type="string"></setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">settings</setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="CustomBackground" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="weatherfanart.path" type="string"></setting>
    <setting id="highlightcolor.name" type="string"></setting>
    <setting id="weathericons.path" type="string"></setting>
    <setting id="menucolor.name" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="dialogcolor.name" type="string"></setting>
    <setting id="textcolor.name" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="backgroundcolor.name" type="string"></setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="busyloader" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="CustomHomeSlideshow" type="string"></setting>
    <setting id="disabledcolor.name" type="string"></setting>
</settings>
