<settings>
    <setting id="startup.init" type="bool">true</setting>
    <setting id="skinshortcuts-widget-MovieYears" type="bool">true</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Albums" type="bool">true</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PictureAddons" type="bool">true</setting>
    <setting id="skinshortcuts-widget-Weather" type="bool">false</setting>
    <setting id="NoFanart" type="bool">false</setting>
    <setting id="ShowInfoPaused" type="bool">false</setting>
    <setting id="global.kioskmode" type="bool">false</setting>
    <setting id="StatusbarGradient" type="bool">false</setting>
    <setting id="skinshortcuts-widget-ProgramAddons" type="bool">true</setting>
    <setting id="UseColorFlags" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Sets" type="bool">true</setting>
    <setting id="PreferFanartHome" type="bool">false</setting>
    <setting id="HideOSDDiffuseColors" type="bool">false</setting>
    <setting id="HideClearLogo" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Artists" type="bool">true</setting>
    <setting id="skinshortcuts-widget-TVStudios" type="bool">true</setting>
    <setting id="skinshortcuts-widget-SystemInfo" type="bool">true</setting>
    <setting id="HideBigPoster" type="bool">false</setting>
    <setting id="AutoMusicVis" type="bool">false</setting>
    <setting id="DisableFullFanartMode" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="ArtworkDownloaderAll" type="bool">false</setting>
    <setting id="FanartDisplayInfo" type="bool">false</setting>
    <setting id="skinshortcuts-widget-NewMovies" type="bool">true</setting>
    <setting id="skinshortcuts-widget-MusicAddons" type="bool">true</setting>
    <setting id="AnimatedFanart" type="bool">false</setting>
    <setting id="ShowTopbar" type="bool">false</setting>
    <setting id="UseHoursMinutes" type="bool">false</setting>
    <setting id="AutoScrollLibrary" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicVideos" type="bool">true</setting>
    <setting id="HideTvShowLabels" type="bool">false</setting>
    <setting id="ShowOSDVideoCodec" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="home.dontshowfanart" type="bool">false</setting>
    <setting id="DontPauseOSD" type="bool">false</setting>
    <setting id="ArtistSlideShow.Disabled" type="bool">false</setting>
    <setting id="EnableNeverHome" type="bool">false</setting>
    <setting id="HideCacheProgress" type="bool">false</setting>
    <setting id="HideDiscArt" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="AllowFanartMovement" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentPlayedAlbums" type="bool">true</setting>
    <setting id="EnableTransparency" type="bool">false</setting>
    <setting id="DisableAutoScroll" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentAddedAlbums" type="bool">true</setting>
    <setting id="skinshortcuts-widget-NewEpisodes" type="bool">true</setting>
    <setting id="MusicVideoConcerts" type="bool">false</setting>
    <setting id="ContextPosition" type="bool">false</setting>
    <setting id="ReturnHomeOnFocus" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">true</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="ArtistSlideshow.Animate" type="bool">false</setting>
    <setting id="HideOSDScrollingText" type="bool">false</setting>
    <setting id="skinshortcuts-widget-VideoAddons" type="bool">true</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="skinshortcuts-widget-TVShowTitles" type="bool">true</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">true</setting>
    <setting id="skinshortcuts-widget-MovieTitles" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Top100Albums" type="bool">true</setting>
    <setting id="TvShowPosters" type="bool">false</setting>
    <setting id="HidePlot" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MovieGenres" type="bool">true</setting>
    <setting id="global.hidefanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-AllAddons" type="bool">true</setting>
    <setting id="home.pvrnotification" type="bool">false</setting>
    <setting id="furniture.flags" type="bool">false</setting>
    <setting id="global.showvideo" type="bool">false</setting>
    <setting id="DisableAlphabetStrip" type="bool">false</setting>
    <setting id="hide.busydialog" type="bool">true</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="UpdateArt.Enabled" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MovieActors" type="bool">true</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="home.fallbackwidget.name" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">Top100Albums</setting>
    <setting id="home.fallbackwidget.type" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">VideoAddons</setting>
    <setting id="home.fallbackwidget" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string">6</setting>
    <setting id="skinshortcuts-widget-2" type="string">NewEpisodes</setting>
    <setting id="weather.icons.name" type="string"></setting>
    <setting id="fanart.fallback" type="string"></setting>
    <setting id="StartupPlaylist" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">SystemInfo</setting>
    <setting id="home.fallbakcwidget.type" type="string"></setting>
    <setting id="home.fallbackwidget.target" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">SystemInfo</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="home.slideshowpath" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="focuscolor.name" type="string"></setting>
</settings>
