<settings>
    <setting id="HEVC" value="true" />
    <setting id="Show_Adult" value="false" />
    <setting id="addon_debug" value="false" />
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Tempest" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="deb.cache_check" value="false" />
    <setting id="debrid.only" value="false" />
    <setting id="debug.location" value="0" />
    <setting id="dev" value="false" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="db10619c97af83891690f4cfd7205d62" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="furk.api" value="" />
    <setting id="furk.limit" value="25" />
    <setting id="furk.mod.level" value="Yes" />
    <setting id="furk.user_name" value="" />
    <setting id="furk.user_pass" value="" />
    <setting id="hosts.captcha" value="false" />
    <setting id="hosts.mode" value="1" />
    <setting id="hosts.quality" value="0" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.importdelay" value="true" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.tempest/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.tempest/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="lists.widget" value="1" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="moviesearch" value="alta mar&#x0A;" />
    <setting id="open_smu_settings" value="" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="preemptive.limit" value="10" />
    <setting id="preemptive.termination" value="false" />
    <setting id="prem.identify" value="0" />
    <setting id="prgr.sortorder" value="1" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.123123movies" value="true" />
    <setting id="provider.1337x" value="false" />
    <setting id="provider.1movietv" value="true" />
    <setting id="provider.300mbfilms" value="true" />
    <setting id="provider.5movies" value="true" />
    <setting id="provider.anime1" value="true" />
    <setting id="provider.animeram" value="true" />
    <setting id="provider.animetoon" value="true" />
    <setting id="provider.btdb" value="false" />
    <setting id="provider.btscene" value="false" />
    <setting id="provider.cartoonhd" value="true" />
    <setting id="provider.cmovieshdbz" value="true" />
    <setting id="provider.ddlspot" value="true" />
    <setting id="provider.directdl" value="true" />
    <setting id="provider.dlpix" value="true" />
    <setting id="provider.doublr" value="false" />
    <setting id="provider.ettv" value="false" />
    <setting id="provider.extramovies" value="true" />
    <setting id="provider.eztv" value="false" />
    <setting id="provider.filmxy" value="true" />
    <setting id="provider.fmoviesio" value="true" />
    <setting id="provider.furk" value="false" />
    <setting id="provider.ganool" value="true" />
    <setting id="provider.ganool123" value="true" />
    <setting id="provider.glodls" value="false" />
    <setting id="provider.hdbest" value="true" />
    <setting id="provider.hdmo" value="true" />
    <setting id="provider.ibit" value="false" />
    <setting id="provider.idope" value="false" />
    <setting id="provider.isohunt2" value="false" />
    <setting id="provider.iwannawatch" value="true" />
    <setting id="provider.kickass2" value="false" />
    <setting id="provider.library" value="false" />
    <setting id="provider.limetorr" value="false" />
    <setting id="provider.link4file" value="true" />
    <setting id="provider.magnetdl" value="false" />
    <setting id="provider.maxrls" value="true" />
    <setting id="provider.mkvhub" value="false" />
    <setting id="provider.mvrls" value="true" />
    <setting id="provider.newepisodes" value="true" />
    <setting id="provider.onceddl" value="true" />
    <setting id="provider.ororo" value="false" />
    <setting id="provider.piratebay" value="false" />
    <setting id="provider.projectfreetv" value="true" />
    <setting id="provider.rapidmoviez" value="true" />
    <setting id="provider.rlsb" value="true" />
    <setting id="provider.rlsbb" value="true" />
    <setting id="provider.sceneddl" value="true" />
    <setting id="provider.scenerls" value="true" />
    <setting id="provider.series9" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.showbox" value="true" />
    <setting id="provider.skytorrents" value="false" />
    <setting id="provider.streamdreams" value="true" />
    <setting id="provider.swatchseries" value="true" />
    <setting id="provider.telepisodes" value="true" />
    <setting id="provider.toonova" value="true" />
    <setting id="provider.topnow" value="false" />
    <setting id="provider.torrapi" value="false" />
    <setting id="provider.torrdown" value="false" />
    <setting id="provider.torrentquest" value="false" />
    <setting id="provider.ultrahd" value="true" />
    <setting id="provider.videoscraper" value="false" />
    <setting id="provider.watchepisodes4" value="true" />
    <setting id="provider.watchfree" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.watchserieshd" value="true" />
    <setting id="provider.watchseriessto" value="true" />
    <setting id="provider.wsunblock" value="true" />
    <setting id="provider.yesmoviesgg" value="true" />
    <setting id="provider.yifyddl" value="false" />
    <setting id="provider.ytsam" value="false" />
    <setting id="provider.zmovies" value="true" />
    <setting id="provider.zoogle" value="false" />
    <setting id="providers.lang" value="English" />
    <setting id="remove.dupes" value="false" />
    <setting id="scrapers.timeout.1" value="60" />
    <setting id="show_season0" value="false" />
    <setting id="showunaired" value="false" />
    <setting id="sources.extrainfo" value="true" />
    <setting id="subtitles" value="true" />
    <setting id="subtitles.lang.1" value="Greek" />
    <setting id="subtitles.lang.2" value="Greek" />
    <setting id="subtitles.utf" value="true" />
    <setting id="tm.user" value="54d34eb70fe2c991b99715037c5523b9" />
    <setting id="torrent.cache_check" value="false" />
    <setting id="torrent.enabled" value="false" />
    <setting id="torrent.identify" value="4" />
    <setting id="torrent.min.seeders" value="10" />
    <setting id="torrent.resolveurl" value="" />
    <setting id="torrent.resolveurl2" value="" />
    <setting id="torrent.sort.them.up" value="true" />
    <setting id="trakt.auth" value="" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
    <setting id="tvdb.user" value="7A9F0F57B6E8132D" />
    <setting id="tvsearch" value="vis a vis&#x0A;vice&#x0A;alta mar&#x0A;stranger things&#x0A;i know&#x0A;i know wh&#x0A;gran hotel&#x0A;cosmos&#x0A;" />
    <setting id="unaired.identify" value="6" />
</settings>
