<settings>
    <setting id="SESSION_HOURS" value="1" />
    <setting id="allow_debrid" value="false" />
    <setting id="allow_openload" value="true" />
    <setting id="allow_the_video_me" value="false" />
    <setting id="allow_vidup_me" value="false" />
    <setting id="autostart_queue" value="true" />
    <setting id="cache_folder" value="special://profile/addon_data/plugin.video.loki/" />
    <setting id="current_version" value="0" />
    <setting id="debug" value="false" />
    <setting id="default_link" value="BOTH" />
    <setting id="disable_messages" value="false" />
    <setting id="disable_metadata_dialog" value="true" />
    <setting id="disable_service" value="true" />
    <setting id="dlimage" value="false" />
    <setting id="enable_cache" value="true" />
    <setting id="enable_gifs" value="false" />
    <setting id="enable_notification" value="true" />
    <setting id="enable_offensive" value="false" />
    <setting id="first_run" value="false" />
    <setting id="hide_help" value="false" />
    <setting id="include_watched_queue" value="false" />
    <setting id="language_id" value="system" />
    <setting id="lastfm_api_key" value="API KEY GOES HERE" />
    <setting id="lastfm_secret" value="API KEY GOES HERE" />
    <setting id="link_fallthrough" value="true" />
    <setting id="main_cache_time" value="30" />
    <setting id="message_xml_url" value="http://builds.kodiuk.tv/development/loki/messages/messages.xml" />
    <setting id="metadata" value="true" />
    <setting id="movie_metadata_provider" value="Trakt" />
    <setting id="news_win" value="true" />
    <setting id="quiet_cache" value="true" />
    <setting id="root_xml" value="http://builds.kodiuk.tv/development/loki/main/main.xml" />
    <setting id="search_db_location" value="http://builds.kodiuk.tv/development/loki/main/search.db" />
    <setting id="settings_context" value="true" />
    <setting id="tmdb_api_key" value="95dc7efdde4515f8977d132a1cc8aff1" />
    <setting id="trailer_context" value="true" />
    <setting id="trakt_api_client_id" value="c67573d34eaade29b1758f9fdfce570de6f747909eea7283395cc009792f742b" />
    <setting id="trakt_api_client_secret" value="76a4b4d7405ae2b8ad2e4ceb930b448263317536bbe14e9673ce2ade67c61b0d" />
    <setting id="tv_metadata_provider" value="Trakt" />
    <setting id="tvdb_api_key" value="13D8B0A17F7BE5E" />
    <setting id="use_link_dialog" value="true" />
</settings>
