<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDgzMjY3MDAsImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1NDgyNDAzMDB9.bj08uW8XpwaiPlCFcIQhjiZe9bn56VKnmH9rL1cim3-g-f2GtTcLOax8i2zJr3-QMqRi7VZ-nvL109cU5SOJRApCdIpA20X4HzLhgijEtpj7jPmvsocIZv7xap44Ba6oBPu3rBh1mvIc40LYO5XMkvyffdPAoTxyN1YSKxg9d-A6Ps3OEk5pAPPirIv0LkCxO1IxUgvIJsgGg44rvuTfqTzXi37AFARccbyc3NtvbAy7lTayFoxeXenP4ErT3IKmwlhlGnrydAots4iznhp3dFESTf6YQGaZpPaobLdsmRYkkVxYlBBTj_4_RduOZvOFiwIhBwn3pQ7MKrqAWbSIQQ" />
</settings>
