<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NDc1NTMwMzgsImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1NDc0NjY2Mzh9.M52egKSRXYK1uD6tvZhyTDzp6VXN8ZhmMyILybp2ExasBdrSUYTRDkswkGohvBVuAnTnBvmHovphPkBU_hVW5qvnmaou8Srxf7VMnKzs97jaWoJzMoezFcGuIQoI0SZBKISbU_QQwH0KZdnObNlpoCcANgLNaWTIxjkjefL3LcS6BOnuShCdpVx91wqded1O0q4f0NbhtTgIuqlkl5yt4QXuEBBIJ21cmU6-yppwSl6-DkSaIIwjzEIqLpFQ992sqw8_bdhP4Rcn7lDty9WRtfawo2E-MPczo0O4wEfHd6q3Rai5kXgZrxK6O5_aSrfw92eolStCVt4iD5zGfnTrdg" />
</settings>
