<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NTA0MTA4ODQsImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1NTAzMjQ0ODR9.A9sdqOUdZIJU-EEpLuWfqHvtfNiVHDXxnhrwZL8fIM8IMM-z-wEUwAqibIZCONHWv4SZEtR1bvEzg3qlzsx7iw9qM4KxD9GEPnf37wjb4U9PHUQMfS5z1g7t1Gh_c9fce-6BzqHjGP_-kvmHzmY1ZeZqKE6-gY96kdMDfqiCWJbTatqTO1yMH9ArvsZq0GvCDx3hFcG47VpsW-Q2KnasZNNSnr9CN9KF38xJQrFDltFCosUxO0w-_17Ny0-lcpmUgHW9Pq9hQQP19CYpy6Oz645elG-26cTQQNxCxrHQsk2w3vguAS24DXfOVUkndopDZj0SwQ4EqzOjHFhNWTFGeQ" />
</settings>
