<settings>
    <setting id="OverlayTransparencyHeader100" type="bool">false</setting>
    <setting id="OverlayTransparency100" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite80" type="bool">false</setting>
    <setting id="Theme.Color.fuchsia" type="bool">false</setting>
    <setting id="Theme.Color.lilac" type="bool">false</setting>
    <setting id="Theme.Color.green" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog100" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD10" type="bool">false</setting>
    <setting id="EnableExtraFanart" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar30" type="bool">false</setting>
    <setting id="ScrollOffsetLabelEnabled" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar10" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog00" type="bool">false</setting>
    <setting id="Pictures.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar90" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar80" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite30" type="bool">false</setting>
    <setting id="PVRChannelListBig" type="bool">false</setting>
    <setting id="Default.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="EnableOSDInfoOnPause" type="bool">false</setting>
    <setting id="DisableWidgetLimit" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader50" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog70" type="bool">false</setting>
    <setting id="EnableClearArt" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog10" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog30" type="bool">false</setting>
    <setting id="EnableStudioArt" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog90" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD50" type="bool">false</setting>
    <setting id="Theme.Color.titanium" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD30" type="bool">false</setting>
    <setting id="Hide_Codec_Info" type="bool">false</setting>
    <setting id="plexbmc" type="bool">false</setting>
    <setting id="EnableCdArt" type="bool">false</setting>
    <setting id="DisableOSDOnPause" type="bool">false</setting>
    <setting id="EnableJustify" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD70" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD20" type="bool">false</setting>
    <setting id="Home_DefaultBG" type="bool">false</setting>
    <setting id="KenBurnsEffect" type="bool">false</setting>
    <setting id="HighLight.Color.lilac" type="bool">false</setting>
    <setting id="EnableFakeCdArt" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog50" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog80" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar70" type="bool">false</setting>
    <setting id="EnableUpAnimNavListViews" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog40" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar50" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog20" type="bool">false</setting>
    <setting id="HighLight.Color.indigo" type="bool">false</setting>
    <setting id="Movies.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite00" type="bool">false</setting>
    <setting id="Hide_Watched_Marks" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedmusicvideos" type="bool">true</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD40" type="bool">false</setting>
    <setting id="HighLight.Color.titanium" type="bool">false</setting>
    <setting id="Theme.Color.amber" type="bool">false</setting>
    <setting id="DisableFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentlyplayedalbums" type="bool">true</setting>
    <setting id="OverlayTransparencyOSD00" type="bool">false</setting>
    <setting id="skinshortcuts-background-Clips.Art" type="bool">true</setting>
    <setting id="Videos.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar40" type="bool">false</setting>
    <setting id="Show_Player" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar60" type="bool">false</setting>
    <setting id="HighLight.Color.sweep" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader90" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader70" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader60" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedepisodes" type="bool">true</setting>
    <setting id="EnableFrameHighlight" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack50" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recommendedmovies" type="bool">true</setting>
    <setting id="WidgetEpisodePoster" type="bool">false</setting>
    <setting id="skinshortcuts-background-Videos.Art" type="bool">true</setting>
    <setting id="Theme.Color.sweep" type="bool">false</setting>
    <setting id="skinshortcuts-background-Movies.Art" type="bool">true</setting>
    <setting id="OverlayTransparency50" type="bool">false</setting>
    <setting id="skinshortcuts-background-TVShows.Art" type="bool">true</setting>
    <setting id="skinshortcuts-background-Addons.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-tvrecordings" type="bool">true</setting>
    <setting id="OverlayTransparencyBlack90" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack80" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD90" type="bool">false</setting>
    <setting id="Theme.Color.indigo" type="bool">false</setting>
    <setting id="StopPlaybackOnMenu" type="bool">false</setting>
    <setting id="skinshortcuts-background-Tv.Art" type="bool">true</setting>
    <setting id="skinshortcuts-widget-radiorecordings" type="bool">true</setting>
    <setting id="skinshortcuts-widget-videoaddons" type="bool">true</setting>
    <setting id="HighLight.Color.fuchsia" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack30" type="bool">false</setting>
    <setting id="OverlayTransparency20" type="bool">false</setting>
    <setting id="OverlayTransparency70" type="bool">false</setting>
    <setting id="DisableOverlayMusicPlaying" type="bool">false</setting>
    <setting id="OverlayTransparency80" type="bool">false</setting>
    <setting id="skinshortcuts-background-Music.Art" type="bool">true</setting>
    <setting id="MusicPlayingFanart" type="bool">false</setting>
    <setting id="Hide.Favourites" type="bool">false</setting>
    <setting id="skinshortcuts-background-DVD.Art" type="bool">true</setting>
    <setting id="OverlayTransparencyOSD100" type="bool">false</setting>
    <setting id="EnableClearLogo" type="bool">false</setting>
    <setting id="OverlayTransparency30" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite60" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack40" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite20" type="bool">false</setting>
    <setting id="MusicVideos.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="skinshortcuts-background-Pictures.Art" type="bool">true</setting>
    <setting id="OverlayTransparencyWhite100" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack00" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack100" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar00" type="bool">false</setting>
    <setting id="OverlayTransparency10" type="bool">false</setting>
    <setting id="skinshortcuts-background-Radio.Art" type="bool">true</setting>
    <setting id="OverlayTransparency90" type="bool">false</setting>
    <setting id="Music.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="TVShows.Background.EnableRandomFanart" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack10" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="OverlayTransparency40" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD60" type="bool">false</setting>
    <setting id="DisableEmptyCdArt" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar20" type="bool">false</setting>
    <setting id="OverlayTransparencyOSD80" type="bool">false</setting>
    <setting id="OverlayTransparencyDialog60" type="bool">false</setting>
    <setting id="Hide.RecentlyAdded" type="bool">false</setting>
    <setting id="OverlayTransparencyTopbar100" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader40" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="OverlayTransparencyBlack70" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite10" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite40" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack60" type="bool">false</setting>
    <setting id="OverlayTransparency60" type="bool">false</setting>
    <setting id="OverlayTransparency00" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite50" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite70" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader10" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader00" type="bool">false</setting>
    <setting id="OverlayTransparencyBlack20" type="bool">false</setting>
    <setting id="FullscreenMusic" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader30" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader20" type="bool">false</setting>
    <setting id="OverlayTransparencyWhite90" type="bool">false</setting>
    <setting id="OverlayTransparencyHeader80" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="VerticalHome" type="bool">false</setting>
    <setting id="skinshortcuts-background-Concerts.Art" type="bool">true</setting>
    <setting id="HighLight.Color.green" type="bool">false</setting>
    <setting id="HighLight.Color.amber" type="bool">false</setting>
    <setting id="DisableIconViewInfos" type="bool">false</setting>
    <setting id="EnableUpNavListViews" type="bool">false</setting>
    <setting id="EnableKioskMode" type="bool">false</setting>
    <setting id="DisableFanartPictures" type="bool">false</setting>
    <setting id="Use_Artist_Slideshow" type="bool">false</setting>
    <setting id="StartupDelay0" type="bool">false</setting>
    <setting id="StartupDelay1" type="bool">false</setting>
    <setting id="StartupDelay2" type="bool">false</setting>
    <setting id="StartupDelay3" type="bool">false</setting>
    <setting id="StartupDelay5" type="bool">false</setting>
    <setting id="StartupDelay10" type="bool">false</setting>
    <setting id="DisableDefaultSplash" type="bool">false</setting>
    <setting id="startup-playlist" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Quit" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Sleep" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Shutdown" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Reboot" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Reboot_Android" type="bool">false</setting>
    <setting id="QuitMenu_Hide_Timer" type="bool">false</setting>
    <setting id="HighLight.Color.custom" type="bool">false</setting>
    <setting id="Theme.Color.custom" type="bool">false</setting>
    <setting id="LabelArt.path" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">recommendedmusicvideos</setting>
    <setting id="StudioArt.path" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">radiorecordings</setting>
    <setting id="Settings.Background" type="string"></setting>
    <setting id="TVShows.Background" type="string"></setting>
    <setting id="WeatherFanartArt.path" type="string"></setting>
    <setting id="Tv.Background" type="string"></setting>
    <setting id="StudioArt.name" type="string"></setting>
    <setting id="Addons.Background" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">recentlyplayedalbums</setting>
    <setting id="skinshortcuts-widget-3" type="string">recommendedmusicvideos</setting>
    <setting id="Weather.Background" type="string"></setting>
    <setting id="Music.Background" type="string"></setting>
    <setting id="Concerts.Background" type="string"></setting>
    <setting id="Quit.Background" type="string"></setting>
    <setting id="Pictures.Background" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">tvrecordings</setting>
    <setting id="skinshortcuts-widget-1" type="string">recommendedmovies</setting>
    <setting id="PickedHighLightColor" type="string"></setting>
    <setting id="Clips.Background" type="string"></setting>
    <setting id="Movies.Background" type="string"></setting>
    <setting id="Favourites.Background" type="string"></setting>
    <setting id="weatherArtPath" type="string"></setting>
    <setting id="WeatherFanartArt.name" type="string"></setting>
    <setting id="DVD.Background" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="skinshortcuts-widget-2" type="string">recommendedepisodes</setting>
    <setting id="Search.Background" type="string"></setting>
    <setting id="Radio.Background" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string">9</setting>
    <setting id="skinshortcuts-widget-8" type="string">videoaddons</setting>
    <setting id="Videos.Background" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="Default.Background" type="string"></setting>
    <setting id="PickedThemeColor" type="string"></setting>
    <setting id="LabelArt.name" type="string"></setting>
    <setting id="LyricPath" type="string"></setting>
    <setting id="WeatherIconArt.name" type="string"></setting>
    <setting id="weatherIconPath" type="string"></setting>
    <setting id="StartupWindow" type="string"></setting>
    <setting id="CustomStartup.Path" type="string"></setting>
    <setting id="StartupWindowOption" type="string"></setting>
    <setting id="CustomStartup.Label" type="string"></setting>
    <setting id="startup-screentype" type="string"></setting>
    <setting id="startup-multiimagepath" type="string"></setting>
    <setting id="startup-imagepath" type="string"></setting>
    <setting id="startup-videopath" type="string"></setting>
    <setting id="startup-playlisttype" type="string"></setting>
    <setting id="startup-musicplaylistpath" type="string"></setting>
    <setting id="startup-videoplaylistpath" type="string"></setting>
</settings>
