<settings>
    <setting id="activityFileSource" value="true" />
    <setting id="activityFileSourceNavigationOnly" value="false" />
    <setting id="activityNavigation" value="false" />
    <setting id="activityPlugins" value="true" />
    <setting id="activityRepositories" value="false" />
    <setting id="activitySystemSettings" value="true" />
    <setting id="activityTvChannels" value="false" />
    <setting id="activityVideoPlaying" value="true" />
    <setting id="background" value="2" />
    <setting id="backgroundImage" value="" />
    <setting id="defaultMoviesWithoutClassification" value="0" />
    <setting id="defaultTvShowsWithoutClassification" value="0" />
    <setting id="directionKeysAsPin" value="false" />
    <setting id="endTime" value="20:00" />
    <setting id="highlightClassificationUnprotectedVideos" value="false" />
    <setting id="invalidPinNotificationType" value="0" />
    <setting id="logEnabled" value="false" />
    <setting id="numberOfLevels" value="0" />
    <setting id="numberOfLimitedUsers" value="0" />
    <setting id="pinCachingDuration" value="5" />
    <setting id="pinCachingStatus" value="0" />
    <setting id="pinLength" value="4" />
    <setting id="pinValue" value="2a35cd9aed58e12af7ce9e3261a99ab37730a1010ea1af87e14954af356a4b6b" />
    <setting id="pinValue2" value="" />
    <setting id="pinValue3" value="" />
    <setting id="pinValue4" value="" />
    <setting id="pinValue5" value="" />
    <setting id="pinValueSet" value="true" />
    <setting id="pinWarning" value="" />
    <setting id="promptForPinOnStartup" value="false" />
    <setting id="pvrSupportsPause" value="false" />
    <setting id="showSecurityInfo" value="true" />
    <setting id="startTime" value="06:00" />
    <setting id="timeRestrictionEnabled" value="false" />
    <setting id="unrestrictedUserPin" value="" />
    <setting id="unrestrictedUserPinSet" value="false" />
    <setting id="unrestrictedUserPinWarning" value="" />
    <setting id="user1Pin" value="" />
    <setting id="user1PinEndTime" value="23:59" />
    <setting id="user1PinLastLimitData" value="" />
    <setting id="user1PinLimitUsed" value="0" />
    <setting id="user1PinName" value="User 1" />
    <setting id="user1PinSet" value="false" />
    <setting id="user1PinStartTime" value="00:00" />
    <setting id="user1PinViewingLimit" value="60" />
    <setting id="user1PinWarning" value="" />
    <setting id="user2Pin" value="" />
    <setting id="user2PinEndTime" value="23:59" />
    <setting id="user2PinLastLimitData" value="" />
    <setting id="user2PinLimitUsed" value="0" />
    <setting id="user2PinName" value="User 2" />
    <setting id="user2PinSet" value="false" />
    <setting id="user2PinStartTime" value="00:00" />
    <setting id="user2PinViewingLimit" value="60" />
    <setting id="user2PinWarning" value="" />
    <setting id="user3Pin" value="" />
    <setting id="user3PinEndTime" value="23:59" />
    <setting id="user3PinLastLimitData" value="" />
    <setting id="user3PinLimitUsed" value="0" />
    <setting id="user3PinName" value="User 3" />
    <setting id="user3PinSet" value="false" />
    <setting id="user3PinStartTime" value="00:00" />
    <setting id="user3PinViewingLimit" value="60" />
    <setting id="user3PinWarning" value="" />
    <setting id="user4Pin" value="" />
    <setting id="user4PinEndTime" value="23:59" />
    <setting id="user4PinLastLimitData" value="" />
    <setting id="user4PinLimitUsed" value="0" />
    <setting id="user4PinName" value="User 4" />
    <setting id="user4PinSet" value="false" />
    <setting id="user4PinStartTime" value="00:00" />
    <setting id="user4PinViewingLimit" value="60" />
    <setting id="user4PinWarning" value="" />
    <setting id="user5Pin" value="" />
    <setting id="user5PinEndTime" value="23:59" />
    <setting id="user5PinLastLimitData" value="" />
    <setting id="user5PinLimitUsed" value="0" />
    <setting id="user5PinName" value="User 5" />
    <setting id="user5PinSet" value="false" />
    <setting id="user5PinStartTime" value="00:00" />
    <setting id="user5PinViewingLimit" value="60" />
    <setting id="user5PinWarning" value="" />
    <setting id="warnExpiringTime" value="0" />
</settings>
