<settings>
    <setting id="AllDebridResolver_auth" value="" />
    <setting id="HEVC" value="true" />
    <setting id="PremiumizeMeResolver_auth" value="" />
    <setting id="RealDebridResolver_auth" value="" />
    <setting id="addon_debug" value="false" />
    <setting id="addon_debugspacer" value="false" />
    <setting id="addon_debugtime" value="false" />
    <setting id="api.language" value="Greek" />
    <setting id="appearance.1" value="Purple" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoTraktOnStart" value="false" />
    <setting id="autoplay.sd" value="true" />
    <setting id="bookmarks" value="true" />
    <setting id="bookmarks.auto" value="false" />
    <setting id="builtin.providers.disableall" value="" />
    <setting id="builtin.providers.enableall" value="" />
    <setting id="crefresh" value="false" />
    <setting id="customList" value="https://" />
    <setting id="debrid.only" value="false" />
    <setting id="debug.location" value="0" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="false" />
    <setting id="fanart.tv.user" value="ea89e598e77bbe257990f630076395bb" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="hidecinema" value="false" />
    <setting id="hidecinema.rollback" value="6" />
    <setting id="hosts.captcha" value="false" />
    <setting id="hosts.mode" value="1" />
    <setting id="hosts.quality" value="0" />
    <setting id="hosts.sort.provider" value="true" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.importdelay" value="true" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.scrubsv2/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.scrubsv2/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="limit_hosts" value="true" />
    <setting id="lists.widget" value="1" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="navi.changeLog" value="true" />
    <setting id="navi.channels" value="true" />
    <setting id="navi.customList" value="false" />
    <setting id="navi.dev" value="false" />
    <setting id="navi.docuHeaven" value="true" />
    <setting id="navi.fitness" value="true" />
    <setting id="navi.iptvChannels" value="true" />
    <setting id="navi.jewMC" value="true" />
    <setting id="navi.kidscorner" value="true" />
    <setting id="navi.legends" value="true" />
    <setting id="navi.morestuff" value="true" />
    <setting id="navi.movieMosts" value="true" />
    <setting id="navi.movieReviews" value="true" />
    <setting id="navi.movieboxes" value="true" />
    <setting id="navi.movieboxoffice" value="true" />
    <setting id="navi.moviecerts" value="true" />
    <setting id="navi.moviefeat" value="true" />
    <setting id="navi.moviegenre" value="true" />
    <setting id="navi.movielanguages" value="true" />
    <setting id="navi.movieoscars" value="true" />
    <setting id="navi.moviepersons" value="true" />
    <setting id="navi.moviepopular" value="true" />
    <setting id="navi.moviepremiere" value="true" />
    <setting id="navi.movietheaters" value="true" />
    <setting id="navi.movietrending" value="true" />
    <setting id="navi.movieviews" value="true" />
    <setting id="navi.movieyears" value="true" />
    <setting id="navi.podcast" value="true" />
    <setting id="navi.radio" value="true" />
    <setting id="navi.tvActive" value="true" />
    <setting id="navi.tvAdded" value="true" />
    <setting id="navi.tvAiring" value="true" />
    <setting id="navi.tvAnticipated" value="true" />
    <setting id="navi.tvCalendar" value="true" />
    <setting id="navi.tvCertificates" value="true" />
    <setting id="navi.tvGenres" value="true" />
    <setting id="navi.tvLanguages" value="true" />
    <setting id="navi.tvNetworks" value="true" />
    <setting id="navi.tvPopular" value="true" />
    <setting id="navi.tvPremier" value="true" />
    <setting id="navi.tvRating" value="true" />
    <setting id="navi.tvReviews" value="true" />
    <setting id="navi.tvTrending" value="true" />
    <setting id="navi.tvViews" value="true" />
    <setting id="navi.tvfeat" value="true" />
    <setting id="navi.tvshowMosts" value="true" />
    <setting id="navi.userlists" value="true" />
    <setting id="navi.userlists2" value="true" />
    <setting id="navi.xxx" value="false" />
    <setting id="omdb.key" value="74703860" />
    <setting id="open_smu_settings" value="" />
    <setting id="preemptive.limit" value="10" />
    <setting id="preemptive.termination" value="false" />
    <setting id="prem.identify" value="darkmagenta" />
    <setting id="prgr.sortorder" value="1" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.0123putlocker" value="false" />
    <setting id="provider.0day" value="false" />
    <setting id="provider.111ys" value="false" />
    <setting id="provider.123123movies" value="true" />
    <setting id="provider.123movieshubz" value="false" />
    <setting id="provider.1337x" value="false" />
    <setting id="provider.1movietv" value="true" />
    <setting id="provider.1putlocker" value="true" />
    <setting id="provider.2ddl" value="false" />
    <setting id="provider.300mbdownload" value="false" />
    <setting id="provider.300mbfilms" value="false" />
    <setting id="provider.4anime" value="false" />
    <setting id="provider.5movies" value="true" />
    <setting id="provider.alltube" value="true" />
    <setting id="provider.alltube3d" value="true" />
    <setting id="provider.allucxyz" value="true" />
    <setting id="provider.animebase" value="true" />
    <setting id="provider.animefreak" value="false" />
    <setting id="provider.animego" value="false" />
    <setting id="provider.animeloads" value="true" />
    <setting id="provider.animepark" value="false" />
    <setting id="provider.animeshow" value="false" />
    <setting id="provider.animetoon" value="false" />
    <setting id="provider.bestmoviez" value="false" />
    <setting id="provider.bnwmovies" value="true" />
    <setting id="provider.boxfilm" value="true" />
    <setting id="provider.bs" value="true" />
    <setting id="provider.btscene" value="false" />
    <setting id="provider.cartoonextra" value="false" />
    <setting id="provider.cartoonhd" value="true" />
    <setting id="provider.cartoonhdto" value="true" />
    <setting id="provider.cartoontab" value="false" />
    <setting id="provider.cartoonwire" value="true" />
    <setting id="provider.cdahd" value="true" />
    <setting id="provider.cdapl" value="true" />
    <setting id="provider.cdax" value="true" />
    <setting id="provider.cine" value="true" />
    <setting id="provider.cinemay" value="true" />
    <setting id="provider.cmovies" value="true" />
    <setting id="provider.cmovieshd" value="true" />
    <setting id="provider.cmovieshdbz" value="true" />
    <setting id="provider.cooltvseries" value="true" />
    <setting id="provider.dadyflix" value="true" />
    <setting id="provider.ddl" value="true" />
    <setting id="provider.ddlspot" value="false" />
    <setting id="provider.ddlvalley" value="false" />
    <setting id="provider.deepmovie" value="true" />
    <setting id="provider.directdl" value="false" />
    <setting id="provider.doublr" value="false" />
    <setting id="provider.dpstreaming" value="true" />
    <setting id="provider.dramabus" value="true" />
    <setting id="provider.ekinomaniak" value="true" />
    <setting id="provider.ekinotv" value="true" />
    <setting id="provider.exfs" value="true" />
    <setting id="provider.extramovies" value="true" />
    <setting id="provider.eztv" value="false" />
    <setting id="provider.ffilms" value="true" />
    <setting id="provider.filiser" value="true" />
    <setting id="provider.filman" value="true" />
    <setting id="provider.filmbit" value="true" />
    <setting id="provider.filmdom" value="true" />
    <setting id="provider.filmix" value="true" />
    <setting id="provider.filmosy" value="true" />
    <setting id="provider.filmowakrainatv" value="true" />
    <setting id="provider.filmpalast" value="true" />
    <setting id="provider.filmv" value="false" />
    <setting id="provider.filmwebbooster" value="true" />
    <setting id="provider.filmxy" value="true" />
    <setting id="provider.filmy321" value="true" />
    <setting id="provider.flenixonline" value="true" />
    <setting id="provider.flixgo" value="true" />
    <setting id="provider.fmovies" value="false" />
    <setting id="provider.fmoviesag" value="true" />
    <setting id="provider.fmoviesio" value="true" />
    <setting id="provider.foxx" value="true" />
    <setting id="provider.fullmoviz" value="true" />
    <setting id="provider.fullstream" value="true" />
    <setting id="provider.gamatotv" value="true" />
    <setting id="provider.ganool123" value="true" />
    <setting id="provider.ganoolrip" value="false" />
    <setting id="provider.geektv" value="true" />
    <setting id="provider.getmywatchseries" value="false" />
    <setting id="provider.glodls" value="false" />
    <setting id="provider.gogoanime" value="false" />
    <setting id="provider.gogoanime1" value="false" />
    <setting id="provider.gogoanimestv" value="false" />
    <setting id="provider.gomo" value="true" />
    <setting id="provider.gomoviesonl" value="false" />
    <setting id="provider.goprojectfreetv" value="false" />
    <setting id="provider.gostream123" value="true" />
    <setting id="provider.gowatchseries" value="true" />
    <setting id="provider.hackimdb" value="false" />
    <setting id="provider.hdbest" value="true" />
    <setting id="provider.hdfilme" value="true" />
    <setting id="provider.hdmo" value="false" />
    <setting id="provider.hdmto" value="true" />
    <setting id="provider.hdpopcorns" value="true" />
    <setting id="provider.hdstreams" value="true" />
    <setting id="provider.hnmovies" value="false" />
    <setting id="provider.horrorkino" value="true" />
    <setting id="provider.horrortube" value="true" />
    <setting id="provider.hubmovie" value="true" />
    <setting id="provider.iheartdrama" value="true" />
    <setting id="provider.iitvx" value="true" />
    <setting id="provider.ikshow" value="true" />
    <setting id="provider.iload" value="true" />
    <setting id="provider.iwannawatch" value="true" />
    <setting id="provider.kickass2" value="false" />
    <setting id="provider.kinonet" value="true" />
    <setting id="provider.kinow" value="true" />
    <setting id="provider.kinox" value="true" />
    <setting id="provider.library" value="false" />
    <setting id="provider.limetorr" value="false" />
    <setting id="provider.liomenoi" value="true" />
    <setting id="provider.magnetdl" value="false" />
    <setting id="provider.maxrls" value="false" />
    <setting id="provider.megashare9" value="false" />
    <setting id="provider.mkvcage" value="false" />
    <setting id="provider.mkvhub" value="true" />
    <setting id="provider.movie2k-ag" value="true" />
    <setting id="provider.movie4k" value="true" />
    <setting id="provider.movie4kis" value="true" />
    <setting id="provider.movieneo" value="true" />
    <setting id="provider.movies123" value="false" />
    <setting id="provider.moviescouch" value="true" />
    <setting id="provider.moviesever" value="true" />
    <setting id="provider.moviesleak" value="false" />
    <setting id="provider.movietown" value="true" />
    <setting id="provider.mvrls" value="false" />
    <setting id="provider.myasiantv" value="true" />
    <setting id="provider.mycoolmoviezone" value="true" />
    <setting id="provider.mycouchtuner" value="true" />
    <setting id="provider.myhdpopcorn" value="true" />
    <setting id="provider.mymovie4k" value="true" />
    <setting id="provider.mymoviego" value="false" />
    <setting id="provider.mymoviesonline" value="false" />
    <setting id="provider.myprojectfreetv" value="false" />
    <setting id="provider.myputlockers" value="false" />
    <setting id="provider.myswatchseri" value="true" />
    <setting id="provider.mywatchep4" value="true" />
    <setting id="provider.mywatchepseries" value="true" />
    <setting id="provider.naszekino" value="true" />
    <setting id="provider.netzkino" value="true" />
    <setting id="provider.newepisodes" value="false" />
    <setting id="provider.newkino" value="true" />
    <setting id="provider.nitermovies" value="false" />
    <setting id="provider.pelisplustv" value="true" />
    <setting id="provider.pepecine" value="true" />
    <setting id="provider.piratebay" value="false" />
    <setting id="provider.pokemonfire" value="false" />
    <setting id="provider.portalciyiz" value="false" />
    <setting id="provider.primewire" value="false" />
    <setting id="provider.proxer" value="true" />
    <setting id="provider.putlockered" value="false" />
    <setting id="provider.putlockerfree" value="true" />
    <setting id="provider.putlockeronl" value="false" />
    <setting id="provider.putlockersonline" value="true" />
    <setting id="provider.putlockersplus" value="true" />
    <setting id="provider.rarefilmm" value="true" />
    <setting id="provider.rlsb" value="false" />
    <setting id="provider.rlsbb" value="false" />
    <setting id="provider.sceneddl" value="false" />
    <setting id="provider.scenerls" value="false" />
    <setting id="provider.seehd" value="true" />
    <setting id="provider.serialeco" value="true" />
    <setting id="provider.serienstream" value="true" />
    <setting id="provider.series9" value="true" />
    <setting id="provider.seriesever" value="true" />
    <setting id="provider.seriesfree" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.seriespapaya" value="true" />
    <setting id="provider.sezonlukdizi" value="false" />
    <setting id="provider.sharemovies" value="false" />
    <setting id="provider.skstream" value="true" />
    <setting id="provider.skytorrents" value="false" />
    <setting id="provider.solarmoviefree" value="true" />
    <setting id="provider.solarmovienet" value="false" />
    <setting id="provider.stream-to" value="true" />
    <setting id="provider.streamdream" value="true" />
    <setting id="provider.streamdreams" value="true" />
    <setting id="provider.streamingseries" value="true" />
    <setting id="provider.streamit" value="true" />
    <setting id="provider.szukajkatv" value="true" />
    <setting id="provider.tainiesonline" value="true" />
    <setting id="provider.tainiomania" value="true" />
    <setting id="provider.telepisodes" value="true" />
    <setting id="provider.timewatch" value="true" />
    <setting id="provider.toonget" value="false" />
    <setting id="provider.toonova" value="false" />
    <setting id="provider.torrapi" value="false" />
    <setting id="provider.torrdown" value="false" />
    <setting id="provider.torrentquest" value="false" />
    <setting id="provider.tvbox" value="true" />
    <setting id="provider.tvdownload" value="false" />
    <setting id="provider.tvmovieflix" value="true" />
    <setting id="provider.ultrahdindir" value="false" />
    <setting id="provider.video4k" value="true" />
    <setting id="provider.videoscraper" value="false" />
    <setting id="provider.view4u" value="true" />
    <setting id="provider.view4u2" value="true" />
    <setting id="provider.warezmovies" value="false" />
    <setting id="provider.watch32hd" value="false" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.watchseries4k" value="false" />
    <setting id="provider.watchserieshd" value="true" />
    <setting id="provider.watchseriessi" value="true" />
    <setting id="provider.watchseriessto" value="false" />
    <setting id="provider.wsunblock" value="false" />
    <setting id="provider.xpause" value="false" />
    <setting id="provider.xrysoi" value="true" />
    <setting id="provider.yesmoviesgg" value="true" />
    <setting id="provider.yifyddl" value="false" />
    <setting id="provider.ytsam" value="false" />
    <setting id="provider.zmovies" value="false" />
    <setting id="provider.zoogle" value="false" />
    <setting id="providers.lang" value="English" />
    <setting id="radio.count" value="50.000000" />
    <setting id="radio.country" value="USA" />
    <setting id="remove.dupes" value="false" />
    <setting id="schedTraktTime" value="0" />
    <setting id="scrapers.timeout.1" value="60" />
    <setting id="showRapGat" value="false" />
    <setting id="showunaired" value="true" />
    <setting id="sources.extrainfo" value="true" />
    <setting id="subtitles" value="true" />
    <setting id="subtitles.lang.1" value="Greek" />
    <setting id="subtitles.lang.2" value="Greek" />
    <setting id="subtitles.utf" value="true" />
    <setting id="tm.user" value="c8b7db701bac0b26edfcc93b39858972" />
    <setting id="torrent.enabled" value="false" />
    <setting id="torrent.identify" value="darkorange" />
    <setting id="torrent.min.seeders" value="10" />
    <setting id="torrent.resolveurl" value="" />
    <setting id="torrent.resolveurl1" value="" />
    <setting id="torrent.resolveurl2" value="" />
    <setting id="torrent.sort.them.up" value="true" />
    <setting id="trakt.auth" value="" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="trakt.user2" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.specials" value="true" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
    <setting id="unaired.identify" value="darkred" />
</settings>
