<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32218">
		<setting type="lsep" label="32225"/>
		<setting id="subtitles" label="Subtitles.gr" type="bool" default="true"/>
		<setting id="xsubs" label="Xsubs.tv" type="bool" default="true"/>
		<setting id="podnapisi" label="Podnapisi.net" type="bool" default="true"/>
		<setting id="subs4free" label="Subs4free.info" type="bool" default="false"/>
	</category>
	<category label="32219">
        <setting id="sorting" type="select" label="32220" lvalues="32221|32222|32223|32224" default="1"/>
		<setting id="cache" label="32003" type="bool" default="true"/>
	</category>
	<category label="32211">
		<setting type="lsep" label="xsubs.tv" />
		<setting id="xsubstv.user" type="text" label="32212" default="" />
		<setting id="xsubstv.pass" type="text" option="hidden" label="32213" default="" />
	</category>
	<category label="32216">
		<setting visible="true" label="32217" type="action" action="RunScript(special://home/addons/service.subtitles.subtitles.gr/resources/lib/clear_cache.py)"/>
	</category>
</settings>
