<settings>
    <setting id="cache_time" value="8" />
    <setting id="data_time" value="1553421140" />
    <setting id="inputstream" value="false" />
    <setting id="livestreamer" value="false" />
    <setting id="reset" value="33" />
    <setting id="user_id" value="6bf3c9fdc1481c54728ccff42161dcfd" />
</settings>
