<settings>
    <setting id="HideWidgets" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="weather.fanart.multi" type="bool">false</setting>
    <setting id="skinshortcuts-widget-systeminfo" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/settings.jpg" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="KioskMode" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="FS_Video" type="bool">false</setting>
    <setting id="Prefer_RTL" type="bool">false</setting>
    <setting id="Home_HideTopBar" type="bool">false</setting>
    <setting id="weather.icons.multi" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="TouchScreenMode" type="bool">false</setting>
    <setting id="FullscreenMusic" type="bool">false</setting>
    <setting id="Home_Horizontal" type="bool">false</setting>
    <setting id="HideShutdown" type="bool">false</setting>
    <setting id="Home_Weather_Icon" type="bool">false</setting>
    <setting id="Vis-ArtistSlide" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="weather.fanart.path" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">systeminfo</setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="password_fanart" type="string"></setting>
    <setting id="topbar_home_opacity" type="string"></setting>
    <setting id="busy" type="string"></setting>
    <setting id="topbar_rss1_color" type="string"></setting>
    <setting id="password_time" type="string"></setting>
    <setting id="mypassword" type="string"></setting>
    <setting id="default_global_bg" type="string"></setting>
    <setting id="weather.icons.ext" type="string"></setting>
    <setting id="passcode" type="string"></setting>
    <setting id="weather.fanart.ext" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="menu_bg_opacity" type="string"></setting>
    <setting id="topbar_text_color" type="string"></setting>
    <setting id="topbar_rss2_color" type="string"></setting>
    <setting id="main_color" type="string"></setting>
    <setting id="mouse_color" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="menu_icon_color_nf" type="string"></setting>
    <setting id="MusicGenreIconPack.path" type="string"></setting>
    <setting id="MovieGenreIconPack.path" type="string"></setting>
</settings>
