<settings>
    <setting id="module.provider" value=" Lambdascrapers" />
    <setting id="provider.1080P" value="true" />
    <setting id="provider.1123movies" value="false" />
    <setting id="provider.123fox" value="false" />
    <setting id="provider.123hbo" value="false" />
    <setting id="provider.123hulu" value="false" />
    <setting id="provider.123movies" value="false" />
    <setting id="provider.123movieser" value="false" />
    <setting id="provider.123moviesgold" value="false" />
    <setting id="provider.123netflix" value="false" />
    <setting id="provider.1movie" value="false" />
    <setting id="provider.2ddl" value="false" />
    <setting id="provider.300mbfilms" value="false" />
    <setting id="provider.321movies" value="false" />
    <setting id="provider.4kmovieto" value="true" />
    <setting id="provider.Hdmto" value="true" />
    <setting id="provider.afdah" value="false" />
    <setting id="provider.allrls" value="false" />
    <setting id="provider.alltube" value="false" />
    <setting id="provider.allucde" value="false" />
    <setting id="provider.animebase" value="false" />
    <setting id="provider.animeloads" value="false" />
    <setting id="provider.animeultima" value="false" />
    <setting id="provider.bestmoviez" value="false" />
    <setting id="provider.bmoviez" value="false" />
    <setting id="provider.bnwmovies" value="true" />
    <setting id="provider.bob" value="false" />
    <setting id="provider.bobmovies" value="true" />
    <setting id="provider.boxfilm" value="false" />
    <setting id="provider.bs" value="false" />
    <setting id="provider.cafehulu" value="false" />
    <setting id="provider.cartoonhd" value="true" />
    <setting id="provider.cdahd" value="false" />
    <setting id="provider.cdax" value="false" />
    <setting id="provider.cine" value="false" />
    <setting id="provider.cinemamega" value="false" />
    <setting id="provider.cinenator" value="false" />
    <setting id="provider.cmovie" value="false" />
    <setting id="provider.cmovies" value="false" />
    <setting id="provider.coolmoviezone" value="true" />
    <setting id="provider.cooltv" value="false" />
    <setting id="provider.darewatch" value="true" />
    <setting id="provider.ddl" value="false" />
    <setting id="provider.ddlvalley" value="false" />
    <setting id="provider.directdl" value="false" />
    <setting id="provider.divxcrawler" value="true" />
    <setting id="provider.dltube" value="false" />
    <setting id="provider.einthusan" value="false" />
    <setting id="provider.ekinomaniak" value="false" />
    <setting id="provider.filiser" value="false" />
    <setting id="provider.filmpalast" value="false" />
    <setting id="provider.filmwebbooster" value="false" />
    <setting id="provider.filmxy" value="false" />
    <setting id="provider.flenix" value="false" />
    <setting id="provider.flix" value="false" />
    <setting id="provider.flixanity" value="false" />
    <setting id="provider.fmovied6" value="false" />
    <setting id="provider.fmovies" value="true" />
    <setting id="provider.foxx" value="false" />
    <setting id="provider.freefmovies" value="true" />
    <setting id="provider.freeputlockers" value="true" />
    <setting id="provider.furk" value="true" />
    <setting id="provider.genvideos" value="false" />
    <setting id="provider.gogoanime" value="false" />
    <setting id="provider.gomovies" value="false" />
    <setting id="provider.gostream" value="true" />
    <setting id="provider.gowatchseries" value="true" />
    <setting id="provider.hd" value="false" />
    <setting id="provider.hdfilme" value="false" />
    <setting id="provider.hdmega" value="false" />
    <setting id="provider.hdpopcorns" value="true" />
    <setting id="provider.hdstreams" value="false" />
    <setting id="provider.horrorkino" value="false" />
    <setting id="provider.huluvip" value="false" />
    <setting id="provider.icefilms" value="false" />
    <setting id="provider.icouchtuner" value="false" />
    <setting id="provider.iitv" value="false" />
    <setting id="provider.iload" value="false" />
    <setting id="provider.iwatchflixxyz" value="false" />
    <setting id="provider.kattv" value="true" />
    <setting id="provider.kinodogs" value="false" />
    <setting id="provider.kinoking" value="false" />
    <setting id="provider.kinow" value="false" />
    <setting id="provider.kinox" value="false" />
    <setting id="provider.l23movies" value="false" />
    <setting id="provider.library" value="true" />
    <setting id="provider.lichtspielhaus" value="false" />
    <setting id="provider.locker" value="false" />
    <setting id="provider.m4ufree" value="false" />
    <setting id="provider.megahd" value="false" />
    <setting id="provider.megvid" value="false" />
    <setting id="provider.movie2k-ac" value="false" />
    <setting id="provider.movie2k-ag" value="false" />
    <setting id="provider.movie2z" value="false" />
    <setting id="provider.movie4k" value="false" />
    <setting id="provider.movie4kis" value="false" />
    <setting id="provider.movie4korg" value="false" />
    <setting id="provider.movie4kto" value="false" />
    <setting id="provider.movie4uch" value="false" />
    <setting id="provider.movieneo" value="false" />
    <setting id="provider.moviesever" value="false" />
    <setting id="provider.moviesgold" value="false" />
    <setting id="provider.moviesonline" value="false" />
    <setting id="provider.moviesplanet" value="true" />
    <setting id="provider.movietown" value="false" />
    <setting id="provider.moviexk" value="false" />
    <setting id="provider.myprojectfreetv" value="true" />
    <setting id="provider.myputlock" value="false" />
    <setting id="provider.myvideolink" value="false" />
    <setting id="provider.mywatchseries" value="false" />
    <setting id="provider.netzkino" value="false" />
    <setting id="provider.odb" value="true" />
    <setting id="provider.openkatalog" value="false" />
    <setting id="provider.openloadmovie" value="true" />
    <setting id="provider.ororo" value="true" />
    <setting id="provider.paczamy" value="false" />
    <setting id="provider.phazeddl" value="false" />
    <setting id="provider.plocker" value="true" />
    <setting id="provider.popcorn" value="false" />
    <setting id="provider.power" value="false" />
    <setting id="provider.primewire" value="true" />
    <setting id="provider.projectfree" value="false" />
    <setting id="provider.pron" value="false" />
    <setting id="provider.proxer" value="false" />
    <setting id="provider.pureanime" value="false" />
    <setting id="provider.putlocker" value="true" />
    <setting id="provider.rajahoki88" value="false" />
    <setting id="provider.rarbg" value="false" />
    <setting id="provider.reddit" value="true" />
    <setting id="provider.rlsbb" value="false" />
    <setting id="provider.rlsscn" value="false" />
    <setting id="provider.scenerls" value="false" />
    <setting id="provider.sceper" value="false" />
    <setting id="provider.seehd" value="true" />
    <setting id="provider.segos" value="false" />
    <setting id="provider.serienstream" value="false" />
    <setting id="provider.series9" value="true" />
    <setting id="provider.seriescr" value="false" />
    <setting id="provider.seriesever" value="false" />
    <setting id="provider.seriesfree" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.sezonlukdizi" value="false" />
    <setting id="provider.showbox" value="false" />
    <setting id="provider.solarmovie" value="false" />
    <setting id="provider.solarmoviez" value="true" />
    <setting id="provider.stream-to" value="false" />
    <setting id="provider.streamdream" value="false" />
    <setting id="provider.streamflix" value="false" />
    <setting id="provider.streamit" value="false" />
    <setting id="provider.streamlord" value="true" />
    <setting id="provider.sunmovies" value="false" />
    <setting id="provider.szukajkatv" value="false" />
    <setting id="provider.tata" value="false" />
    <setting id="provider.timewatch" value="false" />
    <setting id="provider.trt" value="false" />
    <setting id="provider.tvbmoviez" value="false" />
    <setting id="provider.tvbox" value="true" />
    <setting id="provider.uhd" value="false" />
    <setting id="provider.ultrahd" value="false" />
    <setting id="provider.ultrahdindir" value="false" />
    <setting id="provider.video4k" value="false" />
    <setting id="provider.videoscraper" value="true" />
    <setting id="provider.vidics" value="true" />
    <setting id="provider.view4u" value="false" />
    <setting id="provider.vodly" value="false" />
    <setting id="provider.watch32" value="false" />
    <setting id="provider.watchit" value="false" />
    <setting id="provider.watchnew" value="false" />
    <setting id="provider.watchonline" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.wrzcraft" value="false" />
    <setting id="provider.xmovies" value="true" />
    <setting id="provider.xwatchseries" value="true" />
    <setting id="provider.ymovies" value="true" />
</settings>